<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Controle de RH</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
          integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link rel="icon" href="assets/images/Logo.png" />
    <link rel="stylesheet" href="~/Content/ControleRH.css" />
    <script>

    $(document).ready(function () {
        var message = '@TempData["ToastrMessage"]';
        var type = '@TempData["ToastrType"]';

        if (message && type) {
            toastr[type](message);
        }
    </script>
</head>

<body>
    <div class="bg"></div>
    <header>
        <a href="index.html" target="_blank">
            <img class="logo" src="~/IMG/Index/Logo M Mania 2.png" />
        </a>
        <div class="header__wrapper">
            <i class="fa-solid fa-user"></i>
            <!-- Colocar lógica para mostrar nome do usuário -->
            <p class="header__p" id="usuario">@ViewBag.NomeUsuario</p>
        </div>
    </header>


    <main>
        <div class="main__container">
            <div class="main__conteudo">
                <div class="conteudo__wrapper">
                    <div class="main__h1">
                        <button class="button__voltar">
                            <a class="voltar__link" href=@Url.Action("PainelControle")>
                                <i class="fa-solid fa-arrow-left"></i>
                            </a>
                        </button>
                        <h1><span class="underline">Pain</span>el de Controle</h1>
                    </div>
                    <div class="wrapper__controle">
                        <div class="card card__vendas">
                            <div class="card__titulo">Controle de RH</div>
                            <div class="card__imagem">
                                <!-- trocado caminho da imagem -->
                                <img class="card__icon"
                                     src="~/Icon/customer-care.png"
                                     alt="" />
                            </div>
                        </div>
                        <div class="wrapper__buttons">
                            <div class="matico">
                                <a href=@Url.Action("CadastroColaboradores")
                                   class="button__link"
                                   id="pedido">Colaboradores</a>
                            </div>
                            <div class="matico">
                                <a href="" class="button__link">Cargos</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
