<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Morango Mania</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
          integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link rel="icon" href="~/IMG/Index/Logo.jpg" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Index.css")?v=@DateTime.Now.Ticks" />

</head>

<body>
    <div class="bg"></div>
    <header>
        <img class="logo"
             src="~/IMG/Index/Logo M Mania 1.png"
             alt="Logo da Morango Mania" />
        <nav class="nav__links">
            <a href="@Url.Action("Login")"><button class="nav__btn">Login</button></a>
        </nav>
    </header>
    <main>
        <div class="receba">
            <h1>O FRESCOR DA FAZENDA AO SEU ALCANCE:</h1>
            <p class="matico">Morangos cultivados ano coração da cidade!</p>
        </div>
    </main>
    <footer>
        <div id="footer_content">
            <div id="footer_contacts">
                <h2>Morango Mania</h2>
                <p>O Sabor da Fazenda no Coração da Cidade!</p>

                <div id="footer_social_media">
                    <a href="#" class="footer-link" id="instagram">
                        <i class="fa-brands fa-instagram"></i>
                    </a>

                    <a href="#" class="footer-link" id="facebook">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>

                    <a href="#" class="footer-link" id="whatsapp">
                        <i class="fa-brands fa-whatsapp"></i>
                    </a>
                </div>
            </div>

            <ul class="footer-list">
                <li>
                    <h3>Blog</h3>
                </li>
                <li>
                    <a href="https://www.canva.com/design/DAGXCMwoOJU/SMTNXZ8YXHB4kZb3OnNU_g/edit?utm_content=DAGXCMwoOJU&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton" class="footer-link" target="_blank" rel="noopener noreferrer">Cartilha</a>
                </li>
                <li>
                    <a href="https://www.canva.com/design/DAGW9xhssi4/ulBa7ZMF-9KojKAill9wnA/edit?utm_content=DAGW9xhssi4&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton" class="footer-link" target="_blank" rel="noopener noreferrer">Infográfico</a>
                </li>
                <li>
                    <a href="https://www.canva.com/design/DAGW-3M_doY/e9Y2GjzAaAtcRa2SX8PdJA/edit?utm_content=DAGW-3M_doY&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton" class="footer-link" target="_blank" rel="noopener noreferrer">Panfleto</a>
                </li>
            </ul>

            <ul class="footer-list">
                <li>
                    <h3>Aplicações</h3>
                </li>
                <li>
                    <a href="https://github.com/endrewslvp/Projeto-Mobile-Fazenda-Morango-Mania" class="footer-link" target="_blank" rel="noopener noreferrer">App</a>
                </li>
                <li>
                    <a href="https://github.com/endrewslvp/Projeto-Fazenda-Morango-Mania" class="footer-link" target="_blank" rel="noopener noreferrer">Desktop</a>
                </li>
                <li>
                    <a href="#" class="footer-link" target="_blank" rel="noopener noreferrer">Website</a>
                </li>
            </ul>

            <div id="footer_subscribe">
                <h3>Inscreva-se</h3>

                <p>
                    Coloque seu e-mail e seja notificado sobre nossas mais novas soluções
                </p>

                <div id="input_group">
                    <input type="email" id="email">
                    <button>
                        <i class="fa-regular fa-envelope"></i>
                    </button>
                </div>
            </div>
        </div>

        <div id="footer_copyright">
            &#169
            2024 all rights reserved
        </div>
    </footer>
</body>
</html>