<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Painel de Controle</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
          integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link rel="icon" href="~/IMG/Index/Logo.jpg" />
    <link rel="stylesheet" href="~/Content/PainelControle.css" />
    <!-- Toastr CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />

    <!-- Toastr JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script>
        $(document).ready(function () {
            var message = '@TempData["ToastrMessage"]';
            var type = '@TempData["ToastrType"]';

            if (message && type) {
                toastr[type](message);
            }

            const sistemaVendasAtivo = false;

            $(".card__vendas .button__link").on("click", function (event) {
                if (!sistemaVendasAtivo) {
                    event.preventDefault();
                    toastr.error("O sistema está inativo no momento. Por favor, tente novamente mais tarde.", "Erro");
                }
            });
        });
    </script>

    <style>
       
        .button__link.disabled {
            background-color: #888;
            pointer-events: auto;
            opacity: 0.6;
            cursor: not-allowed;
        }
    </style>
</head>

<body>
    <div class="bg"></div>
    <header>
        <a href="index.html" target="_blank">
            <img class="logo" src="~/IMG/Index/Logo M Mania 2.png" />
        </a>
        <div class="header__wrapper">
            <i class="fa-solid fa-user"></i>
            <!-- Colocar lógica para mostrar nome do usuário -->
            <p class="header__p" id="usuario">@ViewBag.NomeUsuario</p>
        </div>
    </header>

    <main>
        <div class="main__container">
            <div class="main__conteudo">
                <div class="conteudo__wrapper">
                    <div class="main__h1">
                        <h1><span class="underline">Pain</span>el de Controle</h1>
                    </div>
                    <div class="wrapper__controle">
                        <div class="card card__producao">
                            <div class="card__titulo">Controle de Produção</div>
                            <div class="card__imagem">
                                <img class="card__icon" src="~/Icon/strawberry.png" alt="" />
                            </div>
                            <a class="button__link" href=@Url.Action("ControleProducao")>Acessar</a>
                        </div>
                        <div class="card card__rh">
                            <div class="card__titulo titulo__rh">Controle de RH</div>
                            <div class="card__imagem">
                                <img class="card__icon" src="~/Icon/customer-care.png" alt="" />
                            </div>
                            <a class="button__link" href=@Url.Action("ControleRH")>Acessar</a>
                        </div>
                        <div class="card card__vendas">
                            <div class="card__titulo">Controle de Vendas</div>
                            <div class="card__imagem">
                                <img class="card__icon" src="~/Icon/tag.png" alt="" />
                            </div>
                            <a class="button__link disabled" href="#">Acessar</a>
                        </div>
                        <div class="card card__usuario">
                            <div class="card__titulo">Cadastro de Usuário</div>
                            <div class="card__imagem">
                                <img class="card__icon" src="~/Icon/verify.png" alt="" />
                            </div>
                            <a class="button__link" href=@Url.Action("CadastroUsuario")>Acessar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
