/* Problemas com responsividade: 
- Underline clipando cadastro de usuario
- borda do fa user não diminui
- container principal não tem tamanho minimo
- arrumar flex-wrap
- icones fontawesome não são afetados por min e max width?
- Fazer olhinho da senha funcionar
*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: system-ui;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
    background-color: transparent;
}

a {
    text-decoration: none;
    color: rgb(255, 254, 240);
}

.voltar__link {
    display: block;
    border-radius: 50%;
}

body {
    height: 100vh;
    background-color: aqua;
    margin: 0 auto;
    background-image: url('../img/index/fundo 2.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fffef0;
    width: 100%;
    padding: 0 20px;
}

.header__wrapper {
    display: flex;
    align-items:center;
}

.header__p {
    font-size: 1.2em;
    font-weight: 600;
}

#header__fa-user {
    margin-right: 8px;
    font-size: 28px;
    color: #404040;
}

main {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 250px;
    margin-left: 20px;
}

.main__container {
    height: 600px;
    width: 80%;
    max-width: 1400px;
    min-width: 1200px;
    margin: 0 20px;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: -40px 40px 5px rgba(0, 0, 0, 0.575);
    display: flex;
}

.main__cor {
    background-color: rgb(255, 105, 105);
    width: 38%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-user {
    font-size: 12em;
    color: rgb(49, 49, 49);
    background-color: rgb(255, 254, 240);
    border-radius: 25px;
    padding: 0.4em;
}

.main__conteudo {
    height: 100%;
    width: 62%;
    background-color: rgb(255, 254, 240);
    position: relative;
    padding: 60px;
}

.main__h1 {
    margin-top: 16px;
    margin-bottom: 36px;
    padding: 12px 0;
    color: rgb(49, 49, 49);
    display: flex;
    align-items: center;
}

.underline {
    text-decoration: underline rgb(49, 49, 49);
    text-underline-offset: 0.6em;
}

.button__voltar {
    border-radius: 50%;
    width: 38px;
    margin-right: 20px;
}

.fa-arrow-left {
    background-color: rgb(49, 49, 49);
    padding: 10px;
    clip-path: circle(48%);
    color: rgb(255, 254, 240);
    margin-right: 10px;
    font-size: 18px;
    transition: all 0.3s ease 0s;
}

.fa-arrow-left:hover {
        background-color: rgba(49, 49, 49, 0.8);
}

.input__box {
    margin: 15px 0;
}

.input__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.input {
    border: rgb(114, 114, 114) solid 2px;
    border-radius: 5px;
    padding: 12px;
    background-color: rgb(255, 254, 240);
    outline: none;
    margin-bottom: 15px;
}

.input__label {
    margin-bottom: 12px;
    font-weight: 700;
    color: rgb(49, 49, 49);
}

.radio {
    display: flex;
    justify-content: space-around;
}

.button__icon {
    cursor: pointer;
    outline: none;
    border: none;
    background-color: transparent;
}

.main__button {
    border: none;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
    padding: 8px 23px;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
    /* position: absolute;
  right: 30px;
  bottom: 30px; */
}

.container__button {
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.button__enviar {
    background-color: rgb(255, 105, 105);
    color: rgb(255, 254, 240, 1);
}

.button__limpar {
    background-color: rgb(65, 65, 65);
    color: rgb(255, 254, 240, 1);
    margin-right: 40px;
}

.button__limpar:hover {
        background-color: rgba(65, 65, 65, 0.8);
}

.button__enviar:hover {
    background-color: rgba(255, 105, 105, 0.8);
}

