* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: system-ui;
}

.bg {
    position: absolute;
    height: 75%;
    width: 100%;
    background-image: url('../img/index/telafundo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
}

.nav__btn {
    font-size: 20px;
    text-decoration: none;
    font-weight: bolder;
    color: rgb(33, 33, 33);
    padding: 10px 38px;
    border: none;
    border-radius: 10px;
    background-color: rgba(255, 254, 240, 1);
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 5%;
    flex-wrap: wrap;
}

.logo {
    cursor: pointer;
    width: 450px;
    margin-bottom: 20px;
}

.nav__btn:hover {
    background-color: rgba(206, 206, 206, 0.8);
}

h1,
.matico {
    color: rgb(255, 254, 240);
}

h1 {
    font-size: 3.9em;
}

p {
    font-size: 1.3em;
}

main {
    display: flex;
}

.receba {
    margin: 100px;
    max-width: 1000px;
}

/* Definir o estilo inicial dos elementos */
.receba {
    overflow: hidden; /* Evita que o texto saia da tela antes de aparecer */
}

h1,
.matico {
    opacity: 0; /* Inicialmente invisível */
    transform: translateX( 100% ); /* Inicialmente deslocado para a direita (h1) e esquerda (p) */
    animation-duration: 1s;
    animation-fill-mode: forwards; /* Manter o estilo final da animação */
}

h1 {
    animation-name: slide-in-right;
}

.matico {
    animation-name: slide-in-left;
    animation-delay: 0.5s; /* Atraso para o parágrafo aparecer depois do título */
}

/* Animações */
@keyframes slide-in-right {
    0% {
        transform: translateX(100%); /* Começa fora da tela à direita */
        opacity: 0;
    }

    100% {
        transform: translateX(0); /* Vai para a posição normal */
        opacity: 1;
    }
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-100%); /* Começa fora da tela à esquerda */
        opacity: 0;
    }

    100% {
        transform: translateX(0); /* Vai para a posição normal */
        opacity: 1;
    }
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap");

* {
    font-family: "Inter", sans-serif;
    letter-spacing: 1px;
}

:root {
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;
}

footer {
    width: 100%;
    color: var(--color-neutral-40);
    margin-top: 400px;
}

.footer-link {
    text-decoration: none;
}

#footer_content {
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts h2 {
    margin-bottom: 0.75rem;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

    #footer_social_media .footer-link {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2.5rem;
        width: 2.5rem;
        color: var(--color-neutral-40);
        border-radius: 50%;
        transition: all 0.4s;
    }

        #footer_social_media .footer-link i {
            font-size: 1.25rem;
        }

        #footer_social_media .footer-link:hover {
            opacity: 0.6;
        }

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267b3;
}

#whatsapp {
    background-color: #25d366;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

    .footer-list .footer-link {
        color: var(--color-neutral-30);
        transition: all 0.4s;
    }

        .footer-list .footer-link:hover {
            color: #ff5b5b;
        }

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

    #footer_subscribe p {
        color: var(--color-neutral-30);
    }

#input_group {
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
}

    #input_group input {
        all: unset;
        padding: 0.75rem;
        width: 100%;
    }

    #input_group button {
        background-color: #ff5b5b;
        border: none;
        color: var(--color-neutral-40);
        padding: 0px 1.25rem;
        font-size: 1.125rem;
        height: 100%;
        border-radius: 0px 4px 4px 0px;
        cursor: pointer;
        transition: all 0.4s;
    }

        #input_group button:hover {
            opacity: 0.7;
        }

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

@media screen and (max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}
