* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: system-ui;
    outline: none;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
    background-color: transparent;
}

body {
    height: 100vh;
    background-color: aqua;
    margin: 0 auto;
    background-image: url('../img/index/fundo 2.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
}

header {
    display: flex;
    align-items: center;
    background-color: #fffef0;
    width: 100%;
}

main {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 250px;
    margin-left: 20px;
}

.main__container {
    height: 600px;
    width: 80%;
    max-width: 1400px;
    min-width: 1000px;
    margin: 0 20px;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: -40px 40px 5px rgba(0, 0, 0, 0.575);
    display: flex;
}

.main__cor {
    background-color: rgb(255, 105, 105);
    width: 38%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-user {
    font-size: 12em;
    color: rgb(49, 49, 49);
    background-color: rgb(255, 254, 240);
    border-radius: 25px;
    padding: 0.4em;
}

.main__login {
    height: 100%;
    width: 62%;
    background-color: rgb(255, 254, 240);
    position: relative;
    padding: 0 60px;
}

.main__h1 {
    margin-top: 16px;
    margin-bottom: 36px;
    padding: 12px 0;
    color: rgb(49, 49, 49);
    display: flex;
    align-items: center;
}

.underline {
    text-decoration: underline rgb(49, 49, 49);
    text-underline-offset: 0.5em;
}

.button__voltar {
    border-radius: 50%;
    width: 38px;
    margin-right: 20px;
}

.fa-arrow-left {
    background-color: rgb(49, 49, 49);
    padding: 10px;
    clip-path: circle(48%);
    color: rgb(255, 254, 240);
    margin-right: 10px;
    font-size: 18px;
    transition: all 0.3s ease 0s;
}

    .fa-arrow-left:hover {
        background-color: rgba(49, 49, 49, 0.8);
    }


.input-box {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
}

.input__cpf {
    margin-bottom: 15px;
}

.input {
    border: rgb(114, 114, 114) solid 2px;
    border-radius: 5px;
    padding: 12px;
    background-color: rgb(255, 254, 240);
}

.input__senha {
    border: none;
    outline: none;
    width: 100%;
    background-color: transparent;
}

.password-form {
    border: rgb(114, 114, 114) solid 2px;
    border-radius: 5px;
    padding-right: 15px;
    background-color: rgb(255, 254, 240);
    display: flex;
    justify-content: space-between;
}

.input__label {
    margin-bottom: 12px;
    font-weight: 700;
    color: rgb(49, 49, 49);
}

.button__icon {
    cursor: pointer;
    outline: none;
    border: none;
    background-color: transparent;
}

.main__button {
    border: none;
    font-size: 20px;
    font-weight: bolder;
    background-color: rgb(255, 105, 105);
    color: rgb(255, 254, 240, 1);
    cursor: pointer;
    padding: 8px 23px;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.fa-eye-slash {
    color: rgb(53, 53, 53);
    font-size: 20px;
}

.main__button:hover {
    background-color: rgba(255, 105, 105, 0.8);
}
