* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: system-ui;
}

.bg {
  position: absolute;
  height: 75%;
  width: 100%;
  background-image: url(../images/Fundo\ 1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.nav__btn {
  font-size: 20px;
  text-decoration: none;
  font-weight: bolder;
  color: rgb(33, 33, 33);
  padding: 10px 38px;
  border: none;
  border-radius: 10px;
  background-color: rgba(255, 254, 240, 1);
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 5%;
  flex-wrap: wrap;
}

.logo {
  cursor: pointer;
  width: 450px;
  margin-bottom: 20px;
}

.nav__btn:hover {
  background-color: rgba(206, 206, 206, 0.8);
}

.receba {
  min-height: 86vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  background-color: rgba(255, 254, 240, 1);
  width: 75%;
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 20px;
}

.input {
  background-color: transparent;
  flex: 1;
  outline: none;
  border: none;
  padding: 7px 15px;
  font-size: 20px;
}

::placeholder {
  color: rgb(148, 148, 148);
}

.input__btn {
  border: none;
  background-color: transparent;
  font-size: 20px;
  color: rgb(129, 129, 129);
  cursor: pointer;
}
